#comments {margin: 0 !important; padding:20px; background-color:#fff; border: medium none;}
#comments h4 {color: #666; margin-left:10px; margin-top:9px; width:700px; font-weight:bold; border-bottom-right-radius: 0; border-bottom-left-radius: 0;  text-transform:capitalize; font-size:24px; font-family:'Source sans Pro',sans-serif !important;}
#comment-post-message {background-color: #fff !important; border: 0px!important; }
#comments{overflow:hidden}
.comments .comment-header,.comments .comment-thread.inline-thread .comment{position:relative}
.comments .continue a{background:#1aa1e2}
.comments .user a,.comments .continue a{font-size:16px; color: #349ECB; font-font-style: italic; font-weight: bold;}
.comments .continue a{font-weight:normal;color:#fff}
#comments .avatar-image-container img{border:0; border-radius: 25px;}
.comment-thread{color:#111}
.comment-thread a{color:#777}
.comment-thread ol{margin:0 0 20px}
.comment-thread .comment-content a,.comments .user a,.comments .comment-thread.inline-thread .user a{color:#349ECB;}
.comments .avatar-image-container,.comments .avatar-image-container img {width:48px; max-width:48px; height:48px; max-height:48px}
.comments .comment-block,.comments .comments-content .comment-replies,.comments .comment-replybox-single{margin-left:60px}
.comments .comment-block,.comments .comment-thread.inline-thread .comment{border:1px solid #ddd;background:#fff; padding:10px; border-radius:5px;}
.comments .comments-content .comment{margin:15px 0 0;padding:0;width:100%;line-height:1em}
.comments .comments-content .icon.blog-author{position:absolute;top:-12px;right:-12px;margin:0;background-image: url(https://lh3.googleusercontent.com/-RLMMLOqtu68/T-goDsC4R0I/AAAAAAAABhU/ZvvicyrWA6g/s36/author.png);width:36px;height:36px}
.comments .comments-content .inline-thread{padding:0 0 0 20px}
.comments .comments-content .comment-replies{margin-top:0}
.comments .comment-content{font-family:comic sans ms;padding:5px 0;line-height:1.4em}
.comments .comment-thread.inline-thread{border-left:1px solid #ddd;background:transparent}
.comments .comment-thread.inline-thread .comment{width:auto}
.comments .comment-thread.inline-thread .comment:after{content:"";position:absolute;top:10px;left:-20px;border-top:1px solid #ddd;width:10px;height:0px}
.comments .comment-thread.inline-thread .comment .comment-block{border:0;background:transparent;padding:0}
.comments .comment-thread.inline-thread .comment-block{margin-left:48px}
.comments .comment-thread.inline-thread .user a{font-size:inherit;}
.comments .comment-thread.inline-thread .avatar-image-container,.comments .comment-thread.inline-thread .avatar-image-container img{width:36px;max-width:36px;height:36px;max-height:36px}
.comments .continue{border-top:0;width:100%} .comments .continue a{padding:10px 0;text-align:center}
.comment .continue{display:none} #comment-editor{width:101%!important} .comment-form{width:100%;max-width:100%}
.feed-links{clear:both;line-height:2.5em; display:none}
.Navbar {display: none;}